### Programmers - Coding Exercises Level 2 - 더 맵게
- Source: https://programmers.co.kr/learn/courses/30/lessons/42626

In [1]:
import heapq


def solution(scoville, K):
    n = len(scoville)
    scoville.sort()
    
    while scoville[0] < K:
        if len(scoville) == 1:
            return -1
        food1 = heapq.heappop(scoville)
        food2 = heapq.heappop(scoville)
        heapq.heappush(scoville, food1 + food2 * 2)
        
    return n - len(scoville)

**Input-Output Examples:**

In [2]:
import pandas as pd
examples = pd.DataFrame([
    [[1, 2, 3, 9, 10, 12], 7, 2]
], columns=["scoville", "K", "return"])
examples

               scoville  K  return
0  [1, 2, 3, 9, 10, 12]  7       2

In [3]:
print(solution(*examples.values[0, :-1].tolist()))

2