### Programmers - Coding Exercises Level 2 - 오픈채팅방
- Source: https://programmers.co.kr/learn/courses/30/lessons/42888

In [1]:
import pandas as pd


def solution(record):
    users = dict()
    messages = []
    
    for line_str in record:
        line_list = line_str.split(' ')
        if line_list[0] == 'Enter':
            users[line_list[1]] = line_list[2]
            messages.append([line_list[1], '님이 들어왔습니다.'])
        elif line_list[0] == 'Leave':
            messages.append([line_list[1], '님이 나갔습니다.'])
        elif line_list[0] == 'Change':
            users[line_list[1]] = line_list[2]
            
    messages = pd.DataFrame(messages, columns=['id', 'message'])
    messages['name'] = messages['id'].apply(lambda id: users[id])
    answer = (messages['name'] + messages['message']).tolist()
    return answer

**Input-Output Examples:**

In [2]:
import pandas as pd
examples = pd.DataFrame([
    [["Enter uid1234 Muzi",
      "Enter uid4567 Prodo",
      "Leave uid1234",
      "Enter uid1234 Prodo",
      "Change uid4567 Ryan"],
     ["Prodo님이 들어왔습니다.",
      "Ryan님이 들어왔습니다.",
      "Prodo님이 나갔습니다.",
      "Prodo님이 들어왔습니다."]]
], columns=["record", "return"])
examples

,record,return
0,"[Enter uid1234 Muzi, Enter uid4567 Prodo, Leav...","[Prodo님이 들어왔습니다., Ryan님이 들어왔습니다., Prodo님이 나갔습니..."

In [3]:
print(solution(*examples.values[0, :-1].tolist()))

['Prodo님이 들어왔습니다.', 'Ryan님이 들어왔습니다.', 'Prodo님이 나갔습니다.', 'Prodo님이 들어왔습니다.']