### Programmers - Coding Exercises Level 2 - 짝지어 제거하기
- Source: https://programmers.co.kr/learn/courses/30/lessons/12973

In [1]:
def solution(s):
    stack = []
    for c in s:
        if not stack:
            stack.append(c)
        else:
            if stack[-1] == c:
                stack.pop()
            else:
                stack.append(c)
    answer = 0 if stack else 1
    return answer

**Input-Output Examples:**

In [2]:
import pandas as pd
examples = pd.DataFrame([
    ["baabaa", 1],
    ["cdcd", 0]
], columns=["s", "return"])
examples

        s  return
0  baabaa       1
1    cdcd       0

In [4]:
print(solution(*examples.values[0, :-1].tolist()))
print(solution(*examples.values[1, :-1].tolist()))

1
0