### Programmers - Coding Exercises Level 2 - 게임 맵 최단거리
- Source: https://programmers.co.kr/learn/courses/30/lessons/1844

In [1]:
import numpy as np


def solution(maps):
    maps = np.pad(maps, ((1, 1), (1, 1)))
    maps = np.where(maps, 10000, 0)
    n = maps.shape[0] - 2
    m = maps.shape[1] - 2
    
    maps[1, 1] = 1
    cur_idxs = [(1, 1)]
    next_idxs = []
    
    while cur_idxs:
        for i, j in cur_idxs:
            nbr_idxs = [(i - 1, j), (i + 1, j), (i, j - 1), (i, j + 1)]
            for nbr_idx in nbr_idxs:
                if maps[i, j] + 1  < maps[nbr_idx]:
                    maps[nbr_idx] = maps[i, j] + 1
                    next_idxs.append(nbr_idx)
                    if nbr_idx == (n, m):
                        return int(maps[n, m])
                    
        cur_idxs = next_idxs
        next_idxs = []
        
    return -1

**Input-Output Examples:**

In [2]:
import pandas as pd
examples = pd.DataFrame([
    [[[1,0,1,1,1],[1,0,1,0,1],[1,0,1,1,1],[1,1,1,0,1],[0,0,0,0,1]], 11],
    [[[1,0,1,1,1],[1,0,1,0,1],[1,0,1,1,1],[1,1,1,0,0],[0,0,0,0,1]], -1]
], columns=["maps", "return"])
examples

                                                maps  return
0  [[1, 0, 1, 1, 1], [1, 0, 1, 0, 1], [1, 0, 1, 1...      11
1  [[1, 0, 1, 1, 1], [1, 0, 1, 0, 1], [1, 0, 1, 1...      -1

In [3]:
print(solution(*examples.values[0, :-1].tolist()))
print(solution(*examples.values[1, :-1].tolist()))

11
-1