### Programmers - Coding Exercises Level 1: 로또의 최고 순위와 최저 순위
- Source: https://programmers.co.kr/learn/courses/30/lessons/77484

In [1]:
from collections import Counter


def solution(lottos, win_nums):
    wrong_nums = Counter(lottos) - Counter(win_nums)
    worst = sum(wrong_nums.values()) + 1
    best = worst - wrong_nums[0]
    answer = [min(best, 6), min(worst, 6)]
    return answer

**Input-Output Examples:**

In [2]:
import pandas as pd
examples = pd.DataFrame([
    [[44, 1, 0, 0, 31, 25], [31, 10, 45, 1, 6, 19], [3, 5]],
    [[0, 0, 0, 0, 0, 0], [38, 19, 20, 40, 15, 25], [1, 6]],
    [[45, 4, 35, 20, 3, 9], [20, 9, 3, 45, 4, 35], [1, 1]]
], columns=['lottos', 'win_nums', 'return'])
examples

                  lottos                  win_nums  return
0  [44, 1, 0, 0, 31, 25]    [31, 10, 45, 1, 6, 19]  [3, 5]
1     [0, 0, 0, 0, 0, 0]  [38, 19, 20, 40, 15, 25]  [1, 6]
2  [45, 4, 35, 20, 3, 9]     [20, 9, 3, 45, 4, 35]  [1, 1]

In [3]:
print(solution(*examples.values[0, :-1].tolist()))
print(solution(*examples.values[1, :-1].tolist()))
print(solution(*examples.values[2, :-1].tolist()))

[3, 5]
[1, 6]
[1, 1]