### Programmers - Coding Exercises Level 2 - 124 나라의 숫자
- Source: https://programmers.co.kr/learn/courses/30/lessons/12899

In [1]:
def solution(n):
    digits = []
    while n > 0:
        r = (n - 1) % 3
        n = (n - 1) // 3
        digits.insert(0, r)
        
    to_124 = {0: '1', 1: '2', 2: '4'}
    digits_124 = [to_124[d] for d in digits]
    return ''.join(digits_124)

**Input-Output Examples:**

In [2]:
import pandas as pd
examples = pd.DataFrame([
    [1, 1], [3, 4], [4, 11], [45, 1124]
], columns=["n", "return"])
examples

    n  return
0   1       1
1   3       4
2   4      11
3  45    1124

In [3]:
print(solution(*examples.values[0, :-1].tolist()))
print(solution(*examples.values[1, :-1].tolist()))
print(solution(*examples.values[2, :-1].tolist()))
print(solution(*examples.values[3, :-1].tolist()))

1
4
11
1124