### Programmers - Coding Exercises Level 2 - 문자열 압축
- Source: https://programmers.co.kr/learn/courses/30/lessons/60057

In [1]:
def compress(s, chunk_size=1):
    counter = []
    for i in range(0, len(s), chunk_size):
        chunk = s[i:i + chunk_size]
        if not counter or counter[-1][1] != chunk:
            counter.append([1, chunk])
        else:
            counter[-1] = [counter[-1][0] + 1, chunk]
    
    s_short = ''
    for c in counter:
        if c[0] != 1:
            s_short += str(c[0])
        s_short += c[1]
    
    return s_short

    
def solution(s):
    answer = 1000 if len(s) > 1 else 1
    for k in range(1, len(s) // 2 + 1):
        s_short = compress(s, k)
        answer = min(answer, len(s_short))
    return answer

**Input-Output Examples:**

In [2]:
import pandas as pd
examples = pd.DataFrame([
    ["aabbaccc", 7],
    ["ababcdcdababcdcd", 9],
    ["abcabcdede", 8],
    ["abcabcabcabcdededededede", 14],
    ["xababcdcdababcdcd", 17]
], columns=["s", "return"])
examples

                          s  return
0                  aabbaccc       7
1          ababcdcdababcdcd       9
2                abcabcdede       8
3  abcabcabcabcdededededede      14
4         xababcdcdababcdcd      17

In [3]:
print(solution(*examples.values[0, :-1].tolist()))
print(solution(*examples.values[1, :-1].tolist()))
print(solution(*examples.values[2, :-1].tolist()))
print(solution(*examples.values[3, :-1].tolist()))
print(solution(*examples.values[4, :-1].tolist()))

7
9
8
14
17