### Programmers - Coding Exercises Level 1: 완주하지 못한 선수
- Source: https://programmers.co.kr/learn/courses/30/lessons/42576

In [1]:
from collections import Counter

def solution(participant, completion):
    answer = list((Counter(participant) - Counter(completion)).keys())[0]
    return answer

**Input-Output Examples:**

In [2]:
import pandas as pd
examples = pd.DataFrame([
    [["leo", "kiki", "eden"], ["eden", "kiki"], "leo"],
    [["marina", "josipa", "nikola", "vinko", "filipa"], ["josipa", "filipa", "marina", "nikola"], "vinko"],
    [["mislav", "stanko", "mislav", "ana"], ["stanko", "ana", "mislav"], "mislav"]
], columns=['participant', 'completion', 'return'])
examples

,participant,completion,return
0,"[leo, kiki, eden]","[eden, kiki]",leo
1,"[marina, josipa, nikola, vinko, filipa]","[josipa, filipa, marina, nikola]",vinko
2,"[mislav, stanko, mislav, ana]","[stanko, ana, mislav]",mislav

In [3]:
print(solution(*examples.values[0, :-1].tolist()))
print(solution(*examples.values[1, :-1].tolist()))
print(solution(*examples.values[2, :-1].tolist()))

leo
vinko
mislav